{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{% static 'web/css/web.css' %}">
</head>
<body>
    <h1>About</h1>
    <p>Hello, Welcome to About page</p>
    <img src="{% static 'web/images/camera.jpg' %}" alt="Camera" onclick="is_about()">

    <script src="{% static 'web/js/web.js' %}"></script>
</body>
</html>