{% extends "web_lib/main.html" %} 


{% block content  %}
    <div class="container">
        <h1>Authors</h1>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Имя</th>
                <th scope="col">Возраст</th>
                <th scope="col">Почта</th>
              </tr>
            </thead>
            <tbody>
                {% if authors %} 
                    {% for author in authors %}    
                    <tr>
                        <th scope="row"><a href="{% url 'author_id' author.pk %}">{{ author.pk }}</a></th>
                        <td>{{ author.name }}</td>
                        <td>{{ author.age }}</td>
                        <td>{{ author.email }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <th scope="row">None</th>
                        <td>None</td>
                        <td>None</td>
                        <td>None</td>
                    </tr>
                {% endif %}
            </tbody>
          </table>
    </div>

{% endblock %}