{% extends "web_lib/main.html" %} 


{% block content %} 
    
    <div class="container">
        <h1>Books</h1>
        {% if books %} 
            {% for book in books %}    
                <p style="white-space: pre;">Название книги:   {{ book.title }}</p>
                <p>Описание книги: {{ book.description }}</p>
                <p>Опубликовано: {{ book.published|date:"d.m.Y" }}g.</p>
                <p>Автор книги: {{ book.author.name }}</p>
                <hr>
            {% endfor %}
        {% else %} 
            <p>No authors</p>
        {% endif %}
    </div>


{% endblock %}